*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
lambda_fns/node_modules
venv/

# Apple directory
**/.DS_Store
node_modules
.venv
cdk.context.json